/*fuente*/
body{
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
    line-height: 2;

}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}
/*Reset para REMS calculo de REMS -62.5% =10px*/
*,*::before,*::after{
    box-sizing: inherit;
}

/**globales**/
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;/*120 * 10*/
    margin: 0 auto;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

/*utilidades*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}


/**botones**/
.boton{
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    /*para enlace*/
    display: inline-block;
    text-align: center;
}

/*utilidad movida*/
.d-block{
    display: block;
}

.boton-marron{
    background-color: rgb(109, 22, 22);
}

.boton-azul{
    background-color: rgb(11, 11, 63);
}

/*Header */
.site-header.inicio{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),url(../img/yo.jpg );
    background-position: center center;
    background-size: cover;
    height: 110vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1{
    padding-bottom: 2rem;
    max-width: 50rem;
    line-height: 2;
}

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}

/* Navegacion */

.navegacion a{
    color: rgba(35,36,41,1);
    text-decoration: none;
    font-size: 1.8rem; /*20px*/
    margin-right: 2rem;
}

.navegacion a:hover{
    color: rgb(0,0,0);
}

.navegacion a:last-of-type{
    margin: 0;
}

/**iconos Nosotroa **/

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    /*calculo*/
    flex-basis: calc(33.3% -1rem);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
}

/*ANuncios*/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio{
    flex-basis:calc(33.3% - 1rem) ;
    border: 3px solid black;
    background-color: #f5f5f5;
}

.contenido-anuncio{
    padding: 2rem 4rem ;
}

.contenedor-anuncios h3,.contenedor-anuncios p{
    margin: 0;
}

.precio{
    color:rgb(19, 19, 95);
    font-weight: 700;
}

.iconos-gatos{
    list-style:  none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-gatos li{
    flex: 1;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/*contacto*/

.imagen-contacto{
    background-image: url(../img/gatomirando.jpeg);
    background-position: center center;
    height: 50rem;
    background-size: cover;
    display: flex;
    align-items: center;   
}


.contenido-contacto{
    flex: 1;
    color: #ece4e4;
}

.cotenido-contacto p{
    font-size: 1.8rem;
}

/*seccion  inferior */

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.texto-entrada h4{
    margin: 0;
    line-height: 1.5;
}

.texto-entrada h4::after{
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: black;

    margin-top: 5px;
}

.texto-entrada span{
    color: yellow;
}

/*testimoniales */

.testimonial{
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding: 2rem;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}

.testimonial blockquote::before{
    content: "";
    background-image: url(../img/gatovector.jpg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

/*absolute en el padre relative en el hijo*/

.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 10;
}

/*footer*/


.site-footer{
    background-color: darkslategray;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin: 0;
    color: gray;
}
